Repository corvax-team/ss14-wl, pull requests merged in 2025-10, with the labels that each got.

#250 Fixed UI Records
  Content.Client/CriminalRecords/CriminalRecordsConsoleWindow.xaml
  Content.Client/StationRecords/GeneralRecord.xaml
  Content.Client/StationRecords/GeneralRecord.xaml.cs
  Content.Client/_WL/MedicalRecords/MedicalRecordsConsoleWindow.xaml
  Content.Client/_WL/Records/RecordsTab.xaml
  Resources/Locale/ru-RU/_WL/station-records/general-station-records.ftl
Labels: Changes: UI, Changes: Localization, S: Untriaged, S: Needs Review, size/M

#254 Исправлено описание фишек
  Resources/Locale/ru-RU/_WL/prototypes/entities/objects/economics/chips.ftl
Labels: Changes: Localization, Changes: No C#, S: Untriaged, size/S

#256 Custom preview TTS
  Content.Client/Corvax/TTS/HumanoidProfileEditor.TTS.cs
  Content.Client/Corvax/TTS/TTSSystem.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Server/Corvax/TTS/TTSSystem.cs
  Content.Shared/Corvax/TTS/RequestPreviewTTSEvent.cs
Labels: Changes: UI, S: Untriaged, S: Needs Review, size/S

#253 Language system
  Content.Client/Input/ContentContexts.cs
  Content.Client/UserInterface/Systems/MenuBar/GameTopMenuBarUIController.cs
  Content.Client/UserInterface/Systems/MenuBar/Widgets/GameTopMenuBar.xaml
  Content.Client/_WL/Languages/ClientLanguagesSystem.cs
  Content.Client/_WL/UserInterface/Systems/Languages/Controls/LanguagesControl.xaml
  Content.Client/_WL/UserInterface/Systems/Languages/Controls/LanguagesControl.xaml.cs
  Content.Client/_WL/UserInterface/Systems/Languages/LanguageUI/LanguageItemControl.xaml
  Content.Client/_WL/UserInterface/Systems/Languages/LanguageUI/LanguageItemControl.xaml.cs
  Content.Client/_WL/UserInterface/Systems/Languages/LanguagesUIController.cs
  Content.Client/_WL/UserInterface/Systems/Languages/Windows/LanguagesWindow.xaml
  Content.Client/_WL/UserInterface/Systems/Languages/Windows/LanguagesWindow.xaml.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/_WL/Languages/LanguagesSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/_WL/Languages/Components/AddLanguageComponent.cs
  Content.Shared/_WL/Languages/Components/LanguageComponent.cs
  Content.Shared/_WL/Languages/LanguagePrototype.cs
  Content.Shared/_WL/Languages/LanguagesEvents.cs
  Content.Shared/_WL/Languages/ObfuscationMetods.cs
  Content.Shared/_WL/Languages/SharedLanguagesSystem.cs
  Resources/Locale/ru-RU/_WL/languages/languages.ftl
  Resources/Locale/ru-RU/_WL/ui/languages/languages_choose.ftl
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_WL/Entities/Mobs/Species/akula.yml
  Resources/Prototypes/_WL/Entities/Mobs/Species/android.yml
  Resources/Prototypes/_WL/Entities/Mobs/Species/cischi.yml
  Resources/Prototypes/_WL/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_WL/Entities/Mobs/Species/golem.yml
  Resources/Prototypes/_WL/Entities/Mobs/Species/murine.yml
  Resources/Prototypes/_WL/Languages/languages.yml
  Resources/Textures/Objects/Fun/Plushies/lizard.rsi/icon.png
  Resources/Textures/_WL/Interface/Languages/languages.rsi/android.png
  Resources/Textures/_WL/Interface/Languages/languages.rsi/cischi.png
  Resources/Textures/_WL/Interface/Languages/languages.rsi/default.png
  Resources/Textures/_WL/Interface/Languages/languages.rsi/diona.png
  Resources/Textures/_WL/Interface/Languages/languages.rsi/felinid.png
  Resources/Textures/_WL/Interface/Languages/languages.rsi/golem.png
  Resources/Textures/_WL/Interface/Languages/languages.rsi/human.png
  Resources/Textures/_WL/Interface/Languages/languages.rsi/kidan.png
  Resources/Textures/_WL/Interface/Languages/languages.rsi/meta.json
  Resources/Textures/_WL/Interface/Languages/languages.rsi/murine.png
  Resources/Textures/_WL/Interface/Languages/languages.rsi/nian.png
  Resources/Textures/_WL/Interface/Languages/languages.rsi/sareng.png
  Resources/Textures/_WL/Interface/Languages/languages.rsi/translate.png
  Resources/Textures/_WL/Interface/Languages/languages.rsi/unati.png
  Resources/Textures/_WL/Interface/Languages/languages.rsi/vox.png
  Resources/Textures/_WL/Interface/Languages/languages.rsi/vulpa.png
Labels: Changes: Sprites, Changes: UI, Changes: Localization, S: Untriaged, size/L, S: Needs Review

#262 TTS fix
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Corvax/TTS/TTSSystem.cs
Labels: S: Untriaged, S: Needs Review, size/M

#264 TTS final fix
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: S: Untriaged, size/XS, S: Needs Review

#266 Added color marks
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/_WL/Languages/LanguagesSystem.cs
  Content.Shared/_WL/Languages/LanguagePrototype.cs
  Resources/Locale/ru-RU/_WL/languages/wrappers.ftl
  Resources/Prototypes/_WL/Languages/languages.yml
Labels: Changes: Localization, S: Untriaged, S: Needs Review
