Repository corvax-team/ss14-wl, pull requests merged in 2025-05, with the labels that each got.

#78 Slaves into wl
  Content.Server/Light/EntitySystems/PoweredLightSystem.cs
  Content.Shared/_WL/Execution/ExecutionComponent.cs
  Content.Shared/_WL/Execution/ExecutionSystem.cs
  Resources/Locale/en-US/_WL/execution/execution.ftl
  Resources/Locale/en-US/execution/execution.ftl
  Resources/Locale/ru-RU/_WL/execution/execution.ftl
  Resources/Locale/ru-RU/execution/execution.ftl
  Resources/Prototypes/Corvax/Maps/nanostation.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Neck/base_clothingneck.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/Shuttles/shuttle_incoming_event.yml
  Resources/Textures/Clothing/Uniforms/Jumpskirt/capformaldress.rsi/equipped-INNERCLOTHING-reptilian.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/capformaldress.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, Changes: Localization, S: Needs Review, size/M

#89 Removed equipped moth engi glasses state
  Resources/Textures/Clothing/Eyes/Glasses/meson.rsi/equipped-EYES-moth.png
  Resources/Textures/Clothing/Eyes/Glasses/meson.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Untriaged

#98 Changed some job age requirements
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
Labels: Changes: No C#, S: Needs Review, size/S

#99 Sec removing
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Fun/visitors_startinggear.yml
  Resources/Prototypes/_WL/Loadouts/Jobs/Security/warden.yml
Labels: Changes: No C#, S: Needs Review, size/S

#95 Reduced return to lobby cooldown to 10 minutes
  Content.Shared/_WL/CCVars/WLCCVars.cs
Labels: S: Untriaged, size/XS, S: Needs Review

#102 Water no anim
  Resources/Locale/ru-RU/_WL/prototypes/tiles/water.ftl
  Resources/Prototypes/_WL/Entities/Tiles/water.yml
Labels: Changes: Localization, Changes: No C#, S: Untriaged, S: Needs Review, size/S

#105 Revert "revert "Добавлены техи для ренги (#104)""
  Resources/Maps/_WL/Dungeon/maints_wlrenga.yml
  Resources/Prototypes/_WL/Procedural/Themes/maints_wlrenga.yml
  Resources/Prototypes/_WL/tags.yml
Labels: Changes: Map, Changes: No C#, size/XL, S: Needs Review

#107 Added sci borg
  Resources/Locale/en-US/ss14-ru/prototypes/_wl/entities/mobs/cyborgs/borg_chassis.ftl
  Resources/Locale/ru-RU/_WL/borg/borg.ftl
  Resources/Locale/ru-RU/_WL/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_wl/entities/mobs/cyborgs/borg_chassis.ftl
  Resources/Prototypes/_WL/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/_WL/borg_types.yml
  Resources/Prototypes/borg_types.yml
  Resources/Textures/Mobs/Silicon/chassis.rsi/meta.json
  Resources/Textures/Mobs/Silicon/chassis.rsi/wl_scibot.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/wl_scibot_e.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/wl_scibot_e_r.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/wl_scibot_l.png
Labels: Changes: Sprites, Changes: Localization, Changes: No C#, S: Untriaged, S: Needs Review, size/S

#108 Unlock T3
  Content.Client/Research/UI/ResearchConsoleMenu.xaml
  Content.Client/Research/UI/ResearchConsoleMenu.xaml.cs
  Resources/Locale/en-US/research/components/research-console-component.ftl
  Resources/Locale/ru-RU/research/components/research-console-component.ftl
  Resources/Prototypes/Research/disciplines.yml
Labels: Changes: UI, Changes: Localization, S: Untriaged, S: Needs Review, size/S

#112 Brigmedic - age 26
  Resources/Locale/ru-RU/job/role-requirements.ftl
  Resources/Prototypes/Corvax/Roles/Jobs/Security/brigmedic.yml
Labels: Changes: Localization, Changes: No C#, S: Untriaged, size/XS, S: Needs Review

#109 [MAPS] Fixes
  Resources/Maps/_WL/wl_kolter.yml
  Resources/Prototypes/_WL/Maps/Whitelist/wl_kolter.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, S: Needs Review

#111 Fix checks
  Content.Client/LateJoin/LateJoinGui.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Roles/RoleSystem.cs
  Content.Server/Access/Systems/PresetIdCardSystem.cs
  Content.Server/CharacterInfo/CharacterInfoSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Objectives/Systems/TargetObjectiveSystem.cs
  Content.Server/Roles/Jobs/JobSystem.cs
  Content.Server/Roles/RoleSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: Changes: UI, S: Untriaged, S: Needs Review, size/M

#110 [PORT] Новые двигатели
  Resources/Prototypes/Imperial/Structures/Thrusters/thrusters.yml
  Resources/Textures/Imperial/Structures/Thrusters/large.rsi/base.png
  Resources/Textures/Imperial/Structures/Thrusters/large.rsi/meta.json
  Resources/Textures/Imperial/Structures/Thrusters/large.rsi/thrust.png
  Resources/Textures/Imperial/Structures/Thrusters/large.rsi/thrust_burn_unshaded.png
  Resources/Textures/Imperial/Structures/Thrusters/medium.rsi/base.png
  Resources/Textures/Imperial/Structures/Thrusters/medium.rsi/meta.json
  Resources/Textures/Imperial/Structures/Thrusters/medium.rsi/thrust.png
  Resources/Textures/Imperial/Structures/Thrusters/medium.rsi/thrust_burn_unshaded.png
  Resources/Textures/Imperial/Structures/Thrusters/thruster_small.rsi/base.png
  Resources/Textures/Imperial/Structures/Thrusters/thruster_small.rsi/meta.json
  Resources/Textures/Imperial/Structures/Thrusters/thruster_small.rsi/thrust.png
  Resources/Textures/Imperial/Structures/Thrusters/thruster_small.rsi/thrust_burn_unshaded.png
Labels: Changes: Sprites, Changes: No C#

#113 Двигатели — Part 2
  Resources/Locale/ru-RU/_WL/prototypes/catalog/cargo/cargo_shuttle.ftl
  Resources/Locale/ru-RU/_WL/prototypes/catalog/fills/crates/shuttle.ftl
  Resources/Locale/ru-RU/_WL/prototypes/entities/objects/misc/flatpacks.ftl
  Resources/Locale/ru-RU/_WL/prototypes/entities/structures/shuttles/thrusters.ftl
  Resources/Prototypes/Imperial/Structures/Thrusters/thrusters.yml
  Resources/Prototypes/_WL/Catalog/Cargo/cargo_shuttle.yml
  Resources/Prototypes/_WL/Catalog/Fills/Crates/shuttle.yml
  Resources/Prototypes/_WL/Entities/Objects/Misc/flatpacks.yml
  Resources/Textures/Imperial/Structures/Thrusters/small.rsi/base.png
  Resources/Textures/Imperial/Structures/Thrusters/small.rsi/meta.json
  Resources/Textures/Imperial/Structures/Thrusters/small.rsi/thrust.png
  Resources/Textures/Imperial/Structures/Thrusters/small.rsi/thrust_burn_unshaded.png
  Resources/Textures/Imperial/Structures/Thrusters/thruster_small.rsi/base.png
Labels: Changes: Sprites, Changes: Localization, Changes: No C#, S: Untriaged, S: Needs Review, size/M

#115 fix cischi and golem locale
  Resources/Locale/ru-RU/_WL/prototypes/entities/mobs/player/cischi.ftl
  Resources/Locale/ru-RU/_WL/prototypes/entities/mobs/player/golem.ftl
  Resources/Locale/ru-RU/_WL/prototypes/entities/mobs/species/golem.ftl
Labels: Changes: Localization, Changes: No C#, size/XS

#116 Новые параллаксы
  Resources/Prototypes/_WL/Parallaxes/asteroids.yml
  Resources/Prototypes/_WL/Parallaxes/blackhole.yml
  Resources/Prototypes/_WL/Parallaxes/color.yml
  Resources/Prototypes/_WL/Parallaxes/planet_land.yml
  Resources/Prototypes/_WL/Parallaxes/planets.yml
  Resources/Prototypes/_WL/Parallaxes/salvage.yml
  Resources/Prototypes/_WL/Parallaxes/sun.yml
  Resources/Textures/_WL/Parallaxes/AlphaBlackHole.png
  Resources/Textures/_WL/Parallaxes/AsteroidsBig.png
  Resources/Textures/_WL/Parallaxes/AsteroidsMedium.png
  Resources/Textures/_WL/Parallaxes/AsteroidsSmall.png
  Resources/Textures/_WL/Parallaxes/BlueParallax.png
  Resources/Textures/_WL/Parallaxes/CoolBluePlanet.png
  Resources/Textures/_WL/Parallaxes/FrontierParallaxBG.png
  Resources/Textures/_WL/Parallaxes/GreenParallax2.png
  Resources/Textures/_WL/Parallaxes/GreenPlanet.png
  Resources/Textures/_WL/Parallaxes/PurpleParallax2.png
  Resources/Textures/_WL/Parallaxes/PurplePlanet.png
  Resources/Textures/_WL/Parallaxes/PystinaPlanet.png
  Resources/Textures/_WL/Parallaxes/SalvageBig.png
  Resources/Textures/_WL/Parallaxes/SalvageMedium.png
  Resources/Textures/_WL/Parallaxes/SalvageSmall.png
  Resources/Textures/_WL/Parallaxes/Sun.png
  Resources/Textures/_WL/Parallaxes/WarpParallaxBG.png
  Resources/Textures/_WL/Parallaxes/attributions.yml
  Resources/Textures/_WL/Parallaxes/redland.png
  Resources/Textures/_WL/Parallaxes/yellowland.png
Labels: Changes: No C#, S: Untriaged, size/M

#118 Update manual storage
  Resources/Locale/ru-RU/_WL/storage/manual_storage.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_WL/Entities/Objects/Storage/ManualStorage/baseManualStorage.yml
  Resources/Prototypes/_WL/Entities/Objects/Storage/ManualStorage/command.yml
  Resources/Prototypes/_WL/Entities/Objects/Storage/ManualStorage/default.yml
  Resources/Prototypes/_WL/Entities/Objects/Storage/ManualStorage/security.yml
  Resources/Prototypes/_WL/Recipes/Lathes/Packs/shared.yml
  Resources/Prototypes/_WL/Recipes/Lathes/storage.yml
  Resources/Prototypes/_WL/tags.yml
  Resources/Textures/_WL/Objects/Storage/ManualStorage/Paper/big_labels.rsi/bounty.png
  Resources/Textures/_WL/Objects/Storage/ManualStorage/Paper/big_labels.rsi/captains_paper.png
  Resources/Textures/_WL/Objects/Storage/ManualStorage/Paper/big_labels.rsi/invoice.png
  Resources/Textures/_WL/Objects/Storage/ManualStorage/Paper/big_labels.rsi/meta.json
  Resources/Textures/_WL/Objects/Storage/ManualStorage/Paper/big_labels.rsi/paper.png
  Resources/Textures/_WL/Objects/Storage/ManualStorage/Paper/labels.rsi/bounty.png
  Resources/Textures/_WL/Objects/Storage/ManualStorage/Paper/labels.rsi/captains_paper.png
  Resources/Textures/_WL/Objects/Storage/ManualStorage/Paper/labels.rsi/invoice.png
  Resources/Textures/_WL/Objects/Storage/ManualStorage/Paper/labels.rsi/meta.json
  Resources/Textures/_WL/Objects/Storage/ManualStorage/Paper/labels.rsi/paper.png
Labels: Changes: Sprites, Changes: Localization, Changes: No C#, size/M
