Repository corvax-team/ss14-wl, pull requests merged in 2025-08, with the labels that each got.

#203 360 круглосуточный обзор
  Content.Shared/CombatMode/CombatModeComponent.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
Labels: S: Untriaged, S: Needs Review, size/S

#207 [Maps] Обновление CorvaxWLPaper
  Resources/Maps/_WL/wl_paper.yml
Labels: Changes: Map, Changes: No C#, size/XL

#217 Обновление лодаута бригмедика
  Resources/Locale/ru-RU/_WL/entities/clothing/masks/masks.ftl
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/biohazard.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Corvax/Loadouts/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Corvax/Loadouts/loadout_groups.yml
  Resources/Prototypes/_WL/Entities/Clothing/Masks/masks.yml
  Resources/Textures/_WL/Clothing/Masks/securitymedicalrespirator.rsi/equipped-MASK-cat.png
  Resources/Textures/_WL/Clothing/Masks/securitymedicalrespirator.rsi/equipped-MASK-dog.png
  Resources/Textures/_WL/Clothing/Masks/securitymedicalrespirator.rsi/equipped-MASK-fox.png
  Resources/Textures/_WL/Clothing/Masks/securitymedicalrespirator.rsi/equipped-MASK-pig.png
  Resources/Textures/_WL/Clothing/Masks/securitymedicalrespirator.rsi/equipped-MASK-possum.png
  Resources/Textures/_WL/Clothing/Masks/securitymedicalrespirator.rsi/equipped-MASK-puppy.png
  Resources/Textures/_WL/Clothing/Masks/securitymedicalrespirator.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_WL/Clothing/Masks/securitymedicalrespirator.rsi/equipped-MASK-sloth.png
  Resources/Textures/_WL/Clothing/Masks/securitymedicalrespirator.rsi/equipped-MASK-vox.png
  Resources/Textures/_WL/Clothing/Masks/securitymedicalrespirator.rsi/equipped-MASK.png
  Resources/Textures/_WL/Clothing/Masks/securitymedicalrespirator.rsi/icon.png
  Resources/Textures/_WL/Clothing/Masks/securitymedicalrespirator.rsi/inhand-left.png
  Resources/Textures/_WL/Clothing/Masks/securitymedicalrespirator.rsi/inhand-right.png
  Resources/Textures/_WL/Clothing/Masks/securitymedicalrespirator.rsi/meta.json
  Resources/Textures/_WL/Clothing/Masks/securitymedicalrespirator.rsi/up-equipped-MASK.png
Labels: Changes: Sprites, Changes: Localization, Changes: No C#, S: Needs Review, size/M
