Repository corvax-team/ss14-wl, pull requests merged in 2025-09, with the labels that each got.

#218 бинты для феленидов
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
Labels: Changes: No C#, S: Untriaged, S: Needs Review, size/S

#216 Fixed CorvaxWLKolter map
  Resources/Maps/_WL/wl_kolter.yml
  Resources/migration.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, S: Needs Review, size/M

#230 Android resprite
  Resources/Textures/_WL/Mobs/Customization/android_parts.rsi/sensors.png
  Resources/Textures/_WL/Mobs/Species/Android/parts.rsi/head_f.png
  Resources/Textures/_WL/Mobs/Species/Android/parts.rsi/head_m.png
  Resources/Textures/_WL/Mobs/Species/Android/parts.rsi/l_arm.png
  Resources/Textures/_WL/Mobs/Species/Android/parts.rsi/l_foot.png
  Resources/Textures/_WL/Mobs/Species/Android/parts.rsi/l_hand.png
  Resources/Textures/_WL/Mobs/Species/Android/parts.rsi/l_leg.png
  Resources/Textures/_WL/Mobs/Species/Android/parts.rsi/light.png
  Resources/Textures/_WL/Mobs/Species/Android/parts.rsi/r_arm.png
  Resources/Textures/_WL/Mobs/Species/Android/parts.rsi/r_foot.png
  Resources/Textures/_WL/Mobs/Species/Android/parts.rsi/r_hand.png
  Resources/Textures/_WL/Mobs/Species/Android/parts.rsi/r_leg.png
  Resources/Textures/_WL/Mobs/Species/Android/parts.rsi/torso_f.png
  Resources/Textures/_WL/Mobs/Species/Android/parts.rsi/torso_m.png
Labels: Changes: Sprites, Changes: No C#, S: Untriaged, S: Needs Review

#236 FundingAllocationComputer for QM, not for HOP.
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: No C#, S: Untriaged, size/XS, S: Needs Review

#222 Увеличенна добыча газодобытчика кислорода
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/miners.yml
Labels: Changes: No C#, S: Untriaged, size/XS, S: Needs Review

#233 Passports adding
  Resources/Locale/en-US/_WL/prototypes/entities/objects/misc/openable.ftl
  Resources/Locale/en-US/_WL/prototypes/entities/objects/misc/passports.ftl
  Resources/Locale/ru-RU/_WL/prototypes/entities/objects/misc/openable.ftl
  Resources/Locale/ru-RU/_WL/prototypes/entities/objects/misc/passports.ftl
  Resources/Prototypes/_WL/Entities/Objects/Misc/passports.yml
  Resources/Textures/_WL/Objects/Misc/Passports/alliance.rsi/icon-opened.png
  Resources/Textures/_WL/Objects/Misc/Passports/alliance.rsi/icon.png
  Resources/Textures/_WL/Objects/Misc/Passports/alliance.rsi/inhand-left.png
  Resources/Textures/_WL/Objects/Misc/Passports/alliance.rsi/inhand-right.png
  Resources/Textures/_WL/Objects/Misc/Passports/alliance.rsi/meta.json
  Resources/Textures/_WL/Objects/Misc/Passports/edem.rsi/icon-opened.png
  Resources/Textures/_WL/Objects/Misc/Passports/edem.rsi/icon.png
  Resources/Textures/_WL/Objects/Misc/Passports/edem.rsi/inhand-left.png
  Resources/Textures/_WL/Objects/Misc/Passports/edem.rsi/inhand-right.png
  Resources/Textures/_WL/Objects/Misc/Passports/edem.rsi/meta.json
  Resources/Textures/_WL/Objects/Misc/Passports/metafront.rsi/icon-opened.png
  Resources/Textures/_WL/Objects/Misc/Passports/metafront.rsi/icon.png
  Resources/Textures/_WL/Objects/Misc/Passports/metafront.rsi/inhand-left.png
  Resources/Textures/_WL/Objects/Misc/Passports/metafront.rsi/inhand-right.png
  Resources/Textures/_WL/Objects/Misc/Passports/metafront.rsi/meta.json
  Resources/Textures/_WL/Objects/Misc/Passports/metafront_usb.rsi/icon-opened.png
  Resources/Textures/_WL/Objects/Misc/Passports/metafront_usb.rsi/icon.png
  Resources/Textures/_WL/Objects/Misc/Passports/metafront_usb.rsi/inhand-left.png
  Resources/Textures/_WL/Objects/Misc/Passports/metafront_usb.rsi/inhand-right.png
  Resources/Textures/_WL/Objects/Misc/Passports/metafront_usb.rsi/meta.json
  Resources/Textures/_WL/Objects/Misc/Passports/orion.rsi/icon-opened.png
  Resources/Textures/_WL/Objects/Misc/Passports/orion.rsi/icon.png
  Resources/Textures/_WL/Objects/Misc/Passports/orion.rsi/inhand-left.png
  Resources/Textures/_WL/Objects/Misc/Passports/orion.rsi/inhand-right.png
  Resources/Textures/_WL/Objects/Misc/Passports/orion.rsi/meta.json
  Resources/Textures/_WL/Objects/Misc/Passports/other.rsi/icon-opened.png
  Resources/Textures/_WL/Objects/Misc/Passports/other.rsi/icon.png
  Resources/Textures/_WL/Objects/Misc/Passports/other.rsi/inhand-left.png
  Resources/Textures/_WL/Objects/Misc/Passports/other.rsi/inhand-right.png
  Resources/Textures/_WL/Objects/Misc/Passports/other.rsi/meta.json
  Resources/Textures/_WL/Objects/Misc/Passports/soccon.rsi/icon-opened.png
  Resources/Textures/_WL/Objects/Misc/Passports/soccon.rsi/icon.png
  Resources/Textures/_WL/Objects/Misc/Passports/soccon.rsi/inhand-left.png
  Resources/Textures/_WL/Objects/Misc/Passports/soccon.rsi/inhand-right.png
  Resources/Textures/_WL/Objects/Misc/Passports/soccon.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: No C#, S: Untriaged, S: Needs Review, size/M

#231 Added Goldie
  Resources/Locale/en-US/_WL/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/en-US/_WL/prototypes/entities/markers/spawners/mobs/pets.ftl
  Resources/Locale/en-US/_WL/prototypes/entities/mobs/npcs/pets.ftl
  Resources/Locale/en-US/_WL/prototypes/objectives/thief.ftl
  Resources/Locale/ru-RU/_WL/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/ru-RU/_WL/prototypes/entities/markers/spawners/mobs/pets.ftl
  Resources/Locale/ru-RU/_WL/prototypes/entities/mobs/npcs/pets.ftl
  Resources/Locale/ru-RU/_WL/prototypes/objectives/thief.ftl
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/_WL/Entities/Markers/Spawners/Mobs/pets.yml
  Resources/Prototypes/_WL/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_WL/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_WL/Objectives/thief.yml
  Resources/Textures/_WL/Mobs/Pets/displacements.rsi/goldie_eyes_displacement.png
  Resources/Textures/_WL/Mobs/Pets/displacements.rsi/goldie_head_displacement.png
  Resources/Textures/_WL/Mobs/Pets/displacements.rsi/meta.json
  Resources/Textures/_WL/Mobs/Pets/goldie.rsi/goldie-moving.png
  Resources/Textures/_WL/Mobs/Pets/goldie.rsi/goldie.png
  Resources/Textures/_WL/Mobs/Pets/goldie.rsi/goldie_dead.png
  Resources/Textures/_WL/Mobs/Pets/goldie.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: No C#, S: Untriaged, S: Needs Review, size/M

#227 Adding standing require to two-handed guns
  Content.Shared/_WL/CombatStand/CombatStandSystem.cs
  Resources/Locale/en-US/_WL/combatstand/stand-component.ftl
  Resources/Locale/ru-RU/_WL/combatstand/stand-component.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_wieldable.yml
Labels: Changes: Localization, S: Untriaged, S: Needs Review, size/S

#237 Добавлено ползанье под столами
  Content.Client/_WL/Standing/ClientStandingStateSystem.cs
Labels: S: Untriaged, S: Needs Review, size/S

#239 fix golems
  Resources/Prototypes/_WL/Entities/Mobs/Species/golem.yml
Labels: Changes: No C#, S: Untriaged, size/XS, S: Needs Review
